# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# OS Files
.DS_Store
Thumbs.db

# Flask
instance/

# Logs
*.log