{% extends "base.html" %} {% block content %}

<!-- Create form. The database enforces unique NID and email values. -->
    <h2 class="mb-3">Add Borrower</h2>

    <form method="POST" class="row g-3">
      <!-- Required identity fields are the minimum record needed for an application. -->
      <label for="first_name">First Name</label><br />
      <input
        type="text"
        id="first_name"
        name="first_name"
        required
      /><br /><br />

      <label for="last_name">Last Name</label><br />
      <input type="text" id="last_name" name="last_name" required /><br /><br />

      <label for="nid">NID</label><br />
      <input type="text" id="nid" name="nid" required /><br /><br />

      <label for="email">Email</label><br />
      <input type="email" id="email" name="email" required /><br /><br />

      <!-- Address fields are optional and can be completed later. -->
      <label for="house_no">House No</label><br />
      <input type="text" id="house_no" name="house_no" /><br /><br />

      <label for="street">Street</label><br />
      <input type="text" id="street" name="street" /><br /><br />

      <label for="city">City</label><br />
      <input type="text" id="city" name="city" /><br /><br />

      <label for="postal_code">Postal Code</label><br />
      <input type="text" id="postal_code" name="postal_code" /><br /><br />

      <div><button type="submit" class="btn btn-primary">Save Borrower</button>
      <a class="btn btn-secondary" href="{{ url_for('borrower.borrowers') }}">Cancel</a></div>
    </form>
{% endblock %}
