<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Borrower</title>
  </head>

  <body>
    <h1>Add Borrower</h1>

    <form method="POST">
      <label for="first_name">First Name</label><br />
      <input
        type="text"
        id="first_name"
        name="first_name"
        required
      /><br /><br />

      <label for="last_name">Last Name</label><br />
      <input type="text" id="last_name" name="last_name" required /><br /><br />

      <label for="nid">NID</label><br />
      <input type="text" id="nid" name="nid" required /><br /><br />

      <label for="email">Email</label><br />
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="house_no">House No</label><br />
      <input type="text" id="house_no" name="house_no" /><br /><br />

      <label for="street">Street</label><br />
      <input type="text" id="street" name="street" /><br /><br />

      <label for="city">City</label><br />
      <input type="text" id="city" name="city" /><br /><br />

      <label for="postal_code">Postal Code</label><br />
      <input type="text" id="postal_code" name="postal_code" /><br /><br />

      <button type="submit">Save Borrower</button>
    </form>
  </body>
</html>
